/* line 1, /Users/markmcquillen/Desktop/rvm-doc/docs-book-cloudfoundry/output/master_middleman/source/stylesheets/print-layout-styles.scss */
.local-header {
  display: none; }

/* line 5, /Users/markmcquillen/Desktop/rvm-doc/docs-book-cloudfoundry/output/master_middleman/source/stylesheets/print-layout-styles.scss */
.pivotalcf .logo {
  background: none;
  padding-left: 0; }
